@font-face {
  font-family: 'airbnb-regular-old';
  src: url('../../../src/assets/fonts/brown-regular.ttf');
}
@font-face {
  font-family: 'airbnb-regular';
  src: url('../../../src/assets/fonts/Airbnb_Cereal-Regular.ttf');
}
@font-face {
  font-family: 'airbnb-medium';
  //   src: url('https://res.cloudinary.com/barakl6435/raw/upload/v1652984840/font/Airbnb_Cereal-Medium_gxfjju.ttf');
  src: url('../../../src/assets/fonts/Airbnb_Cereal-Medium.ttf');
}
@font-face {
  font-family: 'airbnb-bold';
  src: url('../../../src/assets/fonts/Airbnb_Cereal-Bold.ttf');
}
//
//
